body{
  min-height: 100vh;
  background-image: linear-gradient(rgb(0, 255, 229), rgb(255, 0, 238), rgb(0, 128, 255), rgb(255, 0, 238));
  
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
h1{
  color: white;
}
form{
  text-align: center;
}
input{
  text-align: center;
  font-size: 1.5em;
  height: 3rem;
  width: 20rem;
  border-radius: 2em;
  border: 0px;
}
label{
  font-size: 2rem;
}
#btn{
  border: 0px;
  margin: 1rem;
  padding: 0.3em;
  font-size: 1.5em;
  border-radius: 0.1em;
  background-image: linear-gradient(rgb(255, 0, 238), rgb(0, 255, 229), rgb(255, 0, 238));
  color: rgb(0, 0, 0);
}

#container{
  width: 20rem;
  padding: 2rem;
  border-radius: 0.5em;
  background-image: linear-gradient(rgb(0, 255, 229), rgb(255, 0, 238),  rgb(0, 255, 229));
  color: white;
  margin: auto;
  margin-top: 4rem;
  border: 0px;
  text-align: center;
}
#flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#h2{
  color: darkblue;
}
.flexbox{
  text-align: center;
  width: 20rem;
  padding: 1em;
  margin: 1rem;
  background-image: linear-gradient(rgb(0, 255, 229), rgb(255, 0, 238), rgb(0, 128, 255), rgb(255, 0, 238));
  border-radius: 0.5rem ;
  color: white;
  font-size: 1.5em;
}
